<!DOCTYPE html>
<html>
    <head>
        <title>Format Excel for Power Automate</title>
        <style>
            body {
                margin: 50px;
            }
            #inpLabel {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 22px;
                user-select: none;
            }
            #excelInp {
                font-size: 20px;
                margin-left: 15px;
                margin-top: 60px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <form action="upload_excel" method="POST" enctype="multipart/form-data">
            <label for="excelInp" id="inpLabel">Upload the Excel file(s):</label>
            <input type="file" name="excelInp" id="excelInp" onchange="this.form.submit()" multiple>
        </form>
    </body>
</html>